
body {
  overflow: auto;
  background: black;
  background-size: 400% 400%;
  user-select: none;
  color: whitesmoke;
  font-size: 3vh;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-top: 100px;
    text-align: center;
}
.summary {
    border-width: 5px;
    border-top: solid;
    border-right: solid;
    border-image: linear-gradient(to bottom, #EBD27E, #E6DEC3) 1;
    margin-top: 100px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}

.service-list {
    text-align: center;
    border-width: 5px;
    border-bottom: solid;
    border-left: solid;
    border-image: linear-gradient(to bottom, #EBD27E, #E6DEC3) 1;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-align: center;
}

.stack-div {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.stack-list {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to top, #EBD27E, #E6DEC3) 1;
  padding: 5px;
  font-size: 6vh;
}

.stack-icon {
  margin-left: 10px;
}

#js-icon:hover{
  animation: fading 0.5s infinite alternate; 
}

@keyframes fading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
  
}

#react-icon:hover {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#bootstrap-icon:hover {
  animation: flip 0.5s infinite alternate linear;
}

@keyframes flip {

  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

#css-icon:hover {
  animation: flip 0.5s infinite alternate linear;
}

@keyframes flip {

  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

#python-icon:hover {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

#java-icon:hover {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#linux-icon:hover {
  animation: stand-out 1s infinite;
}

@keyframes stand-out {
  
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#git-icon:hover {
  animation: roll 3s infinite cubic-bezier(0.5, 0.1, 0.1, 1);
}

@keyframes roll {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
